.name-input {
  margin-bottom: 2%;
  width: 300px;
}

#Python {
  display: none;
  margin-left: 15%;
  margin-top: 5%;
}

#Javascript {
  display: none;
  margin-left: 15%;
  margin-top: 5%;
}

#Java {
  display: none;
  margin-left: 15%;
  margin-top: 5%;
}

#C {
  display: none;
  margin-left: 15%;
  margin-top: 5%;
}

#C-plus-plus {
  display: none;
  margin-left: 15%;
  margin-top: 5%;
}

#C-sharp {
  display: none;
  margin-left: 15%;
  margin-top: 5%;
}

#Go {
  display: none;
  margin-left: 15%;
  margin-top: 5%;
}

#Swift {
  display: none;
  margin-left: 15%;
  margin-top: 5%;
}

#Kotlin {
  display: none;
  margin-left: 15%;
  margin-top: 5%;
}

#PHP {
  display: none;
  margin-left: 15%;
  margin-top: 5%;
}
